body {
    font-family: Arial, sans-serif;
    background-color: #fef9f4;
    color: #333;
    font-size: 18px;  /* Add this line */
}
header h1 {
    font-size: 2.5em;
    font-weight: bold;
}
nav a {
    margin: 0 15px;
    font-size: 1.2em;
}
footer {
    font-size: 0.8em;
    color: #777;
}
img {
    margin-top: 10px;
    border-radius: 16px;
}
